<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Team</title>
</head>
<body>
    <h1>Team Info:</h1>
    <form method="POST">
        <label for="teamname">Your team name: </label>
        <input type="text" name="teamname" id="teamname" value="{{ teamname }}" required>
        <div id="teamMembers">
            <label for="members">Your group members (separated by commas): (usernames, separated by commas)</label>
            <input type="text" name="members" id="members" value="{{ members }}">
        </div>
        <div id="memberEmail">
            <label for="emails">Emails of your group members: (separated by commas)</label>
            <input type="text" name="emails" id="emails" value="{{ emails }}">
        </div>
        <div>
            <label for="skills">Skills you want members to have: (skills, separated by commas)</label>
            <input type="text" name="skills" id="skills" value="{{ skills }}">
        </div>
        <input type="submit" name="submit" value="Update">
    </form>
    <p>Invite others to Join! Send this link: {{ joinlink }}</p>
</body>
</html>